@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --foreground-trans: #ffffff56;
  --foreground-ultralight: #565656;

  --secondary: #cfcfcf;
  --background: #1c1c24;
  --link: #3b82f6;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}


/* Controls buttons */
.react-flow__controls, .node-parent {
  fill: rgba(255,255,255,0.5) !important;

  background: var(--foreground-trans) !important;
  // border: 0.5px solid var(--foreground-ultralight) !important;
  border-radius: 10px !important;
  color: var(--background) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.384) !important;
}

.react-flow__handle {
  opacity: 0;
  visibility: hidden; 
}

.react-flow__edge-path {
  stroke: var(--background) !important;
  stroke-width: 0.5px !important;
}

.react-flow__panel {
  margin: 0.8em !important;
}

.react-flow__controls-button {
  border-bottom: 1px solid rgba(255,255,255,0.06) !important;
  background: none !important;
}

.popup-menu {
  transition: padding 0.15s;
  white-space: nowrap;
  cursor: default;
  display: flex;
  align-items: center;
  gap: 6;
  flex-direction: row !important;
  transition: background-color 0.1s ease-in-out;
  border-radius: 10px;
  &:hover {
    background-color: var(--secondary) !important;
  }
}

.popup-menu-input {
  font-size: 13;
  border: none;
  outline: none;
  width: 90;
  background: transparent;
  color: var(--background)
                
    
}



.info-container {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 2.4em);
  gap: 1.6em;
  button {
    pointer-events: auto;
    flex-shrink: 0;
  }
  .info-box {
    pointer-events: auto;
    width: 50vw;
    overflow: hidden;
    flex-shrink: 1;
    flex-grow: 0;
  }
}

.info-body {
  transition: opacity 0.1s ease-in-out;
  overflow-y: auto;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  position: relative;

  img {
    width: 100%;
    max-height: 50vh;
    position: relative !important;
    object-fit: contain;
    height: auto !important;
    padding: 1.7em;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.384));
  }

  .p-text {
    width: 100%;
    text-align: justify;
    font-size: 16px;
    padding: 1.7em;
  }

  .p-iframe {
    height: 50vh;
    min-height: 50vh;
    padding: 1.7em;
    iframe {
      width: 100% !important;
      min-height: 100%;
      max-height: 100%;
      border: none !important;
    }
  }

  a {
    cursor: pointer;
  }

  .collections-children {
    justify-self: center;
    margin-top: 1.6em;
    display: flex;
    gap: 1em;
    .half {
      flex-basis: 50%;
      max-width: 50%;
    }
    .check-header {
      width: 100%;
      text-align: center;
    }
    .checklist {
      display: flex;
      width: 100%;
      flex-basis: 50%;
      flex-grow: 0;
      flex-shrink: 0;
      gap: 0.5em;
      a {
        flex-grow: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      #visible {
        align-self: flex-end;
      }
    }

    .loader {
      cursor: pointer;
      justify-self: center;
      text-align: center;
      margin-top: 1em;
      padding: 0.2em 0.5em 0.2em 0.5em;
      border: 0.5px solid var(--background);
      width: 100%;
      transition: background-color 0.1s ease-in-out;
      &:hover {
        background-color: var(--secondary);
      }
    }
  }

  .list-container {
    border: 0.5px solid var(--background);
    width: 100%;
    padding: 0.5em;
  }

  
}

/* MiniMap node */
.react-flow__minimap-node {
  stroke: none !important;
}

.node-toolbar-button {
  background: var(--foreground);
  padding: 3px 10px;
  color: var(--background);
  cursor: pointer;
}

.node-parent {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  transition: border 0.1s;
}


.node-body {
  flex: 1;
  margin: 1em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.1s ease-in-out;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}

.image {
  padding: 0.8em;
  transition: opacity 0.1s ease-in-out;
  object-fit: cover;
  
}

.adder {
  font-size: 20px;
  vertical-align: center;
  text-align: center;
}

.button {
  transition: transform 0.2s ease-in-out;
  transform: scale(1);

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.search-input {
  color: var(--background);
  transition: opacity 0.1s ease-in-out;
  pointer-events: none;
  margin: 0 !important;
  margin-right: 1em !important;
  input {
    padding: 0.5em;
    width: 100%;
  }
}

.menu-title {
  font-size: 13px; 
  font-weight: 600; 
  color: rgb(55, 65, 81); 
  letter-spacing: 0.2px;

}

.info-title {
  font-size: 18px;
  font-weight: 50;
  line-height: 1.5;
  width: fit-content;
  word-break: break-all;
}

.info-subheader {
  font-size: 14px;
  font-weight: 300;
  width: fit-content;

}

.info-id {
  font-size: 12px;
  color: var(--background);
  opacity: 0.5;
  width: fit-content;

}